recursive-include pyrit *.csv
recursive-include pyrit *.json
recursive-include pyrit *.jsonl
recursive-include pyrit *.prompt
recursive-include pyrit *.yaml
recursive-include pyrit *.pdf
recursive-include pyrit *.png
recursive-include pyrit *.jpg
recursive-include pyrit *.wav
recursive-include pyrit *.mp4
recursive-include pyrit *.md
include THIRD_PARTY_NOTICES.txt
recursive-include LICENSES *.txt
recursive-include third_party *.json
include pyrit/executor/promptgen/gcg/src/Dockerfile
recursive-include pyrit/backend/frontend *
recursive-include build_scripts *.py
